body{
	height:100%;
	width: 100%;
	background-image: url("imagecss/font.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 102%;

}

h1{
	font-size: 3em;
	text-align: center;
	text-decoration: underline silver;
	font-family: arial;
	font-weight:bold;
	color:red;

  
}
p
{  
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    background-color: red ;
	text-align: center;
	border: solid 5px silver;
	font-size: 1.8em;
}
p:hover{
	background-color: white;
	color: blue;
}
#bordure{
	text-align: center;
	margin-left: 50%;
	color :blue;
	border:2px outset green;
	background-color: silver;
    
}
	

	
   