body{
    background:url("../Font.jpg") no-repeat center fixed;
    background-size: cover;
}
h1{
    color:orangered;
    opacity: 0.9;
}
h2{
    color:white;
}
a{
    color:rgb(255, 191, 55);
    font-size: 2em;
}
a:hover{
    color:orangered;
    font-size: 3em;
}
.decorationA{
    font-size: 1.1em;
}
.decorationA:hover{
    font-size:1.3em;
}