
/* Définition des polices personnalisées */
@font-face {
    font-family        : 'pacificoregular';
    src                : url('fonts/pacifico/pacifico-webfont.woff2') format('woff2'),
         url('fonts/pacifico/pacifico-webfont.woff') format('woff');
    font-weight        : normal;
    font-style         : normal;

}
@font-face {
    font-family        : 'kaushan_scriptregular';
    src                : url('fonts/kaushans/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushans/kaushanscript-regular-webfont.woff') format('woff');
    font-weight        : normal;
    font-style         : normal;
/*Elément principaux de la page*/
}
@font-face {
    font-family        : 'chela_oneregular';
    src                : url('fonts/chelaone/chelaone-regular-webfont.woff2') format('woff2'),
         url('fonts/chelaone/chelaone-regular-webfont.woff') format('woff');
    font-weight        : normal;
    font-style         : normal;

}

body
{


background-image       : url('imagecss/cssbackgrounnd.jpg');
font-family            : Arial,sans-serif;
color                  : white;
background-repeat: no-repeat;/*l'image ne se répéte pas*/
background-position: center; /*postion de l'image sur la page*/
background-size: 100% ;/*tail de l'image par rapport aux bloc*/


}
#couleurExplication{
  background-color: red;
  opacity: 0.9;
  border:2px solid #DCC7C3;

}



#bloc-page
{
margin-right: 30px;

}

nav 
{
font-family   : 'kaushan_scriptregular';
color                  : red;
width                  : 70%;
text-align             : center;


}
.blanc
{color: red;
}
/*hover=lien survoler*/
.blanc:hover{
 border-right: 10px  solid silver;
 border-radius: 10px 10px 10px 10px;
 background-color: white;
 opacity: 0.6;
 padding-right: 5px;
 }
/*visited= lien deja visiter*/
.blanc:visited {
  color: blue;
}
/*visitted:hover= lien deja visiter survoler*/
.blanc:visited:hover
{

  color:red;
}
/*Header*/

header
{
display                : flex;
justify-content        : space-between;
align-items            : flex-end;
}
#titre-principale
{
display                : flex;
flex-direction         : column;
}
#logo
{
       display         : flex;
    flex-direction     : row;/*direction du flex*//*dans se cas la ce son les bloc qui senfile l'un a coté de l'autre*/
    align-items        : baseline;
}
#logo img
{
width                  : 59px;
height                 : 60px;
opacity                : 0.4;	
}
header h1
{
font-family            : 'kaushan_scriptregular';
font-size              : 2.5em;
margin                 : 0 0 0 10px;
}
header h2
{
font-family            : 'kaushan_scriptregular';
margin-top             : 0px;
font-size              : 1.4em;
font-weight            : normal;
}

/*navigateur*/
#conteneurNav{
  list-style-type       : none;
  display : flex;
  flex-direction:row;
  justify-content: space-around;
  font-size: 1.7em;
  margin-left:40px;
}
/* Bannière */


/*section*/
section
{ display              : flex;
  margin-bottom        : 20px;
  flex-direction:row;

}
article,aside
{text-align            : center;

}
article{

  padding-left         : 5px;
  padding-right        : 5px;
  margin-left         : 5px;
  background-color     : silver;
  background-position: center;
  color                : black;
  border               : 3px double blue;
  border-radius        : 20px;
  margin-bottom: 150px;
 
}


.article_tail
{
    font-size          : 1.5em;
    text-decoration    : underline;


}

/*contenue*/
aside
{ 
    
   
    
    color              : white;
    font-size          : 0.7em;
}

#Fait
{
  text-decoration      : underline;
   margin-right        : 25px;
   margin-left: 30px;
}
  
  #centrage
  {
    
    font-size: 2em;
    color:black;
    background-color:orange;
    padding-top:10px;
     margin-left: 30px; 
    margin-right: 20px;
  }
 /*logo cia*/
#Conteneur2{
  height: 450px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 40px;
  opacity: 0.85;
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
  display:flex;
  flex-direction:column;
  align-content:space-around;/*espace les bloc enfant a la verticale*/

 

}
.Hawking{
  font-size: 3em;
  opacity:0.95;
  order:2;
  color:white;
  background-image:url('https://img.maxisciences.com/article/1280/astronomie/les-etoiles-sont-particulierement-observable-la-nuit-car-elle-degage-de-l-energie-lumineuse_9fc06da966dbb33b5bd4dd471961a8d28ecc373f.jpg'); 
  text-decoration: none;
  border-radius: 10px 10px 10px 10px ;
  border:5px solid yellow;
 opacity: 0.85;
  margin-right: 24px;

}

#couleur {
order:1;

padding-bottom: 5px 5px 5px 5px;
margin:auto;
border:3px solid silver;
border-radius: 20px 20px 20px 20px ;
background-color:black;
color:white;
font-size: 1.5em;

}
 #couleur:visited {
  color: white;
 }
#couleur:hover{
  border-radius: 40px 40px 40px 40px;
  border:6px solid blue;
  background-color:white;
  color:red;
} 

#couleur:visited:hover
{ color:yellow;
  background-color: red;

}
    

