#planing{
    background-image:url("Capture.png");
    background-repeat: no-repeat;/*l'image ne se répéte pas*/
    background-position: center; /*postion de l'image sur la page*/
   background-size: 100%;
}
