
<!DOCTYPE html>
<html lang="fr" data-ng-app="website">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<title> Produit comercialiser </title>
<link rel="SHORTCUT ICON" href="../mt-demo/68100/68197/mt-content/uploads/2018/07/favicon80b0.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="index.html" />
<meta property="og:title" content="Produit comercialiser"/>
<meta property="og:url" content="index07.html"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../mt-includes/css/assets.minf6d5.css"/>
<style>
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700,700italic|Montserrat:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic|Muli:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic|Poppins:regular,100,100italic,200,200italic,300,300italic,italic,600,500italic,500,600italic,700,700italic&amp;subset=latin);
</style>
<link rel="stylesheet" href="../mt-demo/68100/68197/mt-content/assets/styles9e12.css" id="moto-website-style"/>
<style>
            #rectification{
                padding:0px;
                margin: 0px;
                border:none;
            }
</style>
    
    
    
    
    
    
</head>
<body class="moto-background moto-website_live">
<div class="page">

        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
                                    <div class="moto-widget moto-widget-block moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="block" data-spacing="sasa" style="">
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        <div class="moto-widget moto-widget-container moto-container_header_59ef2ee21" data-widget="container" data-container="container" data-css-name="moto-container_header_59ef2ee21" data-moto-sticky="{ }">
    
    
<div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="sasa" style="">
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
        
            <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div data-widget-id="wid_1531291359_7ox6w41bl" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <a class="moto-widget-image-link moto-link" href="../index.html"   data-action="page">
                <img data-src="/mt-demo/68100/68197/mt-content/uploads/2018/07/mt-1532-logo.png" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
            </a>
            </div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_1"><a href="../index.html" data-action="page" data-id="1" class="moto-link"><span class="moto-color_custom3">CALEDOWEED</span></a></p><p class="moto-text_186"><a href="../index.html" data-action="page" data-id="1" class="moto-link"><span class="moto-color1_3">MARIJUANA</span></a></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                        </div>
                    </div>
                </div>
                        
                    
                </div>
                
                                
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                    
                        
                            
                
                <div data-widget-id="wid__menu__5b45a671c61ab" class="moto-widget moto-widget-menu moto-preset-2 moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="2" data-widget="menu">
                            <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                        <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                            <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                    <a href="../about-us/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">À PROPOS DE NOUS<span class="fa moto-widget-menu-link-arrow"></span></a>
                                <ul class="moto-widget-menu-sublist">
                                    <li class="moto-widget-menu-item">
                  
                        </li>
                                    <li class="moto-widget-menu-item">
                    <a href="../single-product/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"> Produit Unique</a>
                        </li>
                                    <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                    
                                <ul class="moto-widget-menu-sublist">
                                    <li class="moto-widget-menu-item">
                    
                        </li>
                            </ul>
                
                        </li>
                            </ul>
                
                        
                        </li><li class="moto-widget-menu-item">
                                <a href="../products/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">PRODUITS</a>
                                    </li><li class="moto-widget-menu-item">
                                <a href="../price/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">PARTAGE D'ABONNER</a>
                                    </li><li class="moto-widget-menu-item">
                                <a href="../contact/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CONTACT</a>
                                    </li>        </ul>
                    </div>        
    
</div>

                
            
        </div>
    </div>
</div></div>
                    
                
            </div>
        </div>
    </div>
</div>            
        </header>

        <section id="section-content" class="content page-16 moto-section" data-widget="section" data-container="section">
                                    <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="background-image:url(../mt-demo/68100/68197/mt-content/uploads/2018/07/mt-1532-content-bg-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/07/mt-1532-content-bg-1.jpg" data-bg-position="center">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        <div data-widget-id="wid_1531296151_cv525yh8f" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>
                    
                
                    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_6" style="text-align: center;">SATIVA DOMINANT HYBRID</p><p class="moto-text_system_2" style="text-align: center;">&nbsp;</p><p class="moto-text_system_2" style="text-align: center;">Le meilleur référencement de cannabis</p></div>
</div>
        
    
</div>

                
            
        </div>
    </div>
</div>
                    
                
                    
                        <div data-widget-id="wid_1531296151_wh69tl2ch" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>
                    
                
            </div>
        </div>
    </div>
</div><div class="moto-widget moto-widget-block moto-bg-color_custom5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div data-widget-id="wid_1531296665_970navevv" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="masa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:20px"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-auto moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="amam" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_8">Chocolate Haze<br>13-17 %  de THC</p></div>
</div>
        
    
        
            <div data-widget-id="wid_1531296197_hd0u2nlay" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium  " data-widget="divider_horizontal" data-preset="default">
    <hr class="moto-widget-divider-line" style="max-width:100%;width:50px;">
</div>
        
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="smsm" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">La variété de cannabis Chocolate Haze est un hybride de cannabis à dominante Sativa . La plante a été créée par DNA Genetics. Comme son nom l'indique, Chocolate Haze a un goût prononcé de chocolat. Ce pot peut être apprécié par tous grâce à une teneur en THC modérée allant jusqu'à 17% . Les plantes de cannabis Haze Chocolate Haze mettent 8 à 9 semaines pour fleurir et produisent entre 400 et 600 grammes par mètre carré. La plante peut être difficile à cultiver à l'extérieur en raison de la faible résistance à la moisissure. La variété de cannabis Chocolate Haze convient à une utilisation quotidienne et matinale.
</p><p class="moto-text_normal">&nbsp;</p><ul><li class="moto-text_normal">Type: Sativa</li><li class="moto-text_normal">Chocolope X , &nbsp;Cannalope Haze .</li><li class="moto-text_normal">Chocolat</li><li class="moto-text_normal">Tonifiant ,Créatif, Euphorique ,Levé ,Heureux</li></ul></div>
</div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="samm" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"></div>
</div>
        
    
        
            <div data-widget-id="wid_1531296445_8tzzsj4l5" class="moto-widget moto-widget-paypal_button moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-medium " data-widget="paypal_button" data-preset="default">
                    <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" class="moto-widget-paypal_button__form">
            <input type="hidden" name="charset" value="utf-8">
                            <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="amount" value="">
                        <input type="hidden" name="business" value="">
            <input type="hidden" name="item_name" value="">
            <input type="hidden" name="currency_code" value="USD">
                                                                <div class="moto-widget moto-widget-button moto-preset-2">
                    <button  name="submit" class="moto-widget-button-link moto-size-medium"id="rectification">
                        <img 
                        src="../mt-demo/68100/68197/mt-content/uploads/2018/07/logo873Croix.jpg"
                        alt="LOGO calédoWEED"/>
                    </button>
                </div>
                    </form>
    </div><div data-widget-id="wid_1531296653_7bctq7dsp" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="masa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:20px"></div>
</div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../mt-demo/68100/68197/mt-content/uploads/2018/07/pageweed/07.jpg);background-position:left top;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/07/pageweed/07.jpg" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div data-widget-id="wid_1531296197_o38uatkdq" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:250px"></div>
</div>
        
    
        
            
        
    
</div>

                
            
        </div>
    </div>
</div>
                    
                
                    
                        
                    
                
            </div>
        </div>
    </div>
</div>
    
</div>            
        </section>
    </div>

    <footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section">
                                <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="background-color:#0a4b13;" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        
                    
                
                    
                        <div data-widget-id="wid_1531292815_jnos4v7hq" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>
                    
                
                    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div data-widget-id="wid_1531292815_a39rm95wr" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <a class="moto-widget-image-link moto-link" href="../index.html"   data-action="page">
                <img data-src="/mt-demo/68100/68197/mt-content/uploads/2018/07/mt-1532-logo.png" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
            </a>
            </div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_1"><a href="index.html" data-action="page" data-id="1" class="moto-link">CalédoWeed</a></p><p class="moto-text_186"><a href="index.html" data-action="page" data-id="1" class="moto-link">MARIJUANA</a></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                        </div>
                    </div>
                </div>
                        
                    
                </div>
                
                                
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            
                
                
                        
                    
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_2">Contactez nous</p></div>
                </div><div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">
                    
                    
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color3_3"><span class="fa"></span></span></p></div>
                </div></div><div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_207">873  St, NC 98809</p></div>
                </div></div>
                
                                
                            
                        </div>
                    </div>
                </div><div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">
                    
                    
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color3_3"><span class="fa"></span></span></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_207"><a href="tel:1234567890" data-action="call" class="moto-link">(687) 66-78-90</a></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                        </div>
                    </div>
                </div><div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">
                    
                    
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color3_3"><span class="fa"></span></span></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_208"><a data-action="call" class="moto-link" href="tel:1234567890">caledoweeds@gmail.com</a></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                        </div>
                    </div>
                </div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">
                    
                    
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color3_3"><span class="fa"></span></span></p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_207">Lundi dimanche:</p><p class="moto-text_207">9:00 AM - 10:00 PM</p></div>
                </div>
                        
                    
                </div>
                
                                
                            
                        </div>
                    </div>
                </div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_2"><span class="moto-color5_5">Connecte-toi avec nous</span></p><p class="moto-text_system_11"><span class="moto-color5_5">CalédoWeed Référencement</span></p></div>
                </div><div id="wid_1529041469_aevnlvrcp" data-widget-id="wid_1529041469_aevnlvrcp" class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="social_links_extended" data-preset="default">
                        <ul class="moto-widget-social-links-extended__list">
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
                            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                                <span class="moto-widget-social-links-extended__icon fa fa-facebook"></span>
                            </a>
                        </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                                <span class="moto-widget-social-links-extended__icon fa fa-twitter"></span>
                            </a>
                        </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
                            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                                <span class="moto-widget-social-links-extended__icon fa fa-linkedin"></span>
                            </a>
                        </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
                            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                                <span class="moto-widget-social-links-extended__icon fa fa-pinterest"></span>
                            </a>
                        </li>
                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-5">
                            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                                <span class="moto-widget-social-links-extended__icon fa fa-google-plus"></span>
                            </a>
                        </li>
                            </ul>
                    <style type="text/css">
                                                                                    </style>
                    </div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_2"><span class="moto-color5_5">Newsletter</span></p><p class="moto-text_system_11"><span class="moto-color5_5">INSCRIVEZ-VOUS POUR DES OFFRES SPÉCIALES</span></p></div>
                </div><div data-widget-id="wid__mail_chimp__5b2351d8b6f8e" class="moto-widget moto-widget-mail_chimp moto-widget-contact_form moto-preset-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="mail_chimp" data-preset="3">
                    <div ng-controller="widget.MailChimp.Controller" ng-init="listId = '';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false;">
                
                        
                        <form class="moto-widget-contact_form-form" role="form" name="subscribeForm" ng-submit="submit()" novalidate>
                            <div ng-show="sending" class="contact-form-loading"></div>
                                                                                        <div class="moto-widget-contact_form-group">
                                            <label for="field_email" class="moto-widget-contact_form-label">Entrer votre e-mail</label>
                                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Enter your e-mail *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email"/>
                                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="subscribeForm.email.$invalid && !subscribeForm.email.$pristine && !subscribeForm.email.emailInvalid" >Field is required</span>
                                                <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="subscribeForm.email.emailInvalid && !subscribeForm.email.$pristine" >Incorrect email</span>
                                                                    </div>
                                                                                                                                                    
                                            <input type="hidden" name="status" value="subscribed"/>
                                <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="showSuccessMessage">
                                    
                Votre inscription à la newsletter a bien été prise en compte
                                </div>
                                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError && !isSubscribed">
                                   
                Vous n'étiez pas abonné. Veuillez réessayer
                                </div>
                                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError && isSubscribed">
                
                                    Vous êtes déjà inscrit à cette newsletter                </div>
                            
                            <div class="moto-widget-contact_form-buttons">
                                <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                    <a ng-click="submit()" class="moto-widget-button-link moto-size-medium"
                                       data-size="medium"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">Souscrire</span></a>
                                </div>
                                <button type="submit" class="hidden"></button>
                            </div>
                        </form>
                    </div>
                </div></div>
                
                                
                            
                        </div>
                    </div>
                </div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
                    
                    
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            
                                
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                    
                    
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_209">© 2019&nbsp;CalédoWeed Marijuana NC. <a data-action="page" data-id="19" class="moto-link" href="privacy-policy/index.html">All rights reserved</a>.&nbsp;Designed by&nbsp;<a target="_self" rel="nofollow" data-action="url" class="moto-link" href="#">Apsylone.com</a></p></div>
                </div></div>

                
            
        </div>
    </div>
</div>
                    
                
            </div>
        </div>
    </div>
</div>            
    </footer>

                     <div data-moto-back-to-top-button class="moto-back-to-top-button">
        <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
            <span class="moto-back-to-top-button-icon fa"></span>
        </a>
    </div>
                    <script src="../mt-includes/js/website.assets.min93f6.js?_build=1562180397" type="text/javascript" data-cfasync="false"></script>
    <script type="text/javascript" data-cfasync="false">
        var websiteConfig = websiteConfig || {};
        websiteConfig.address = '../index.html';
        websiteConfig.addressHash = '7eba7571f81254420dd8aa5bd66c54f2';
        websiteConfig.apiUrl = '../api.json';
        websiteConfig.preferredLocale = 'en_US';
        websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
                websiteConfig.back_to_top_button = {"topOffset":300,"animationTime":500,"type":"theme"};
                websiteConfig.popup_preferences = {"loading_error_message":"The content could not be loaded."};
        websiteConfig.lazy_loading = {"enabled":true};
        websiteConfig.cookie_notification = {"enabled":false,"content":"<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>","content_hash":"6610aef7f7138423e25ee33c75f23279","controls":{"visible":"close,accept","accept":{"label":"Got it","preset":"default","size":"medium","cookie_lifetime":365}}};
                angular.module('website.plugins', []);
    </script>
    <script src="../mt-includes/js/website.minec8e.js?_build=1562180395" type="text/javascript" data-cfasync="false"></script>
        <script type="text/javascript">$.fn.motoGoogleMap.setApiKey('AIzaSyAk8PGBXexyvCl_XGQDHqTfrNhZ1zYHFTI');</script>
                
    
    
</body>
</html>